.register-form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
  width: 50%;
  border: 3px solid rgb(74, 196, 245);
  padding: 10px;
  box-shadow: 5px 10px rgb(74, 196, 245);
  }
  
  .register-form-container > * {
    width: 100%;
  }

  .register-form-submit-btn button,
.register-form-submit-btn a {
  margin-right: 8px;
  display: flex;
    flex-direction: column;
    margin: auto;
}
  