<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MeanApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="['active']">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" >
        <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']" >
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
            </li>

         <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link" (click)="onLogoutClick()" [routerLink]="['/login']" >Logout</a>
          </li>
      
    </ul>
    
  </div>
</nav> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item   *ngIf="!authservice.isLoggedIn()" [routerLink]="['/home']">Home</a>
      <a mat-list-item *ngIf="!authservice.isLoggedIn()" [routerLink]="['/register']">Registration</a>
      <a mat-list-item *ngIf="!authservice.isLoggedIn()" [routerLink]="['/login']">Login</a>
      <a mat-list-item *ngIf="authservice.isLoggedIn()"  [routerLink]="['/dashboard']">Dashboard</a>
      <a mat-list-item  *ngIf="authservice.isLoggedIn()" [routerLink]="['/profile']">Profile</a>
      <a mat-list-item *ngIf="authservice.isLoggedIn()"  [routerLink]="['/logout']" (click)="onLogoutClick()">Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MEAN APP</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
