<!--
<h2 class="page-header">Login</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label for="exampleInputPassword1">UserName</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username" id="exampleInputPassword1" placeholder="username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>

   <button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>
-->
<form (submit)="onLoginSubmit()">
  <div class="login-container">

    <mat-form-field>
      <input type="text" [(ngModel)]="username" name="username" matInput placeholder="Enter your Username">
    </mat-form-field>

    <mat-form-field>
      <input type="password" [(ngModel)]="password" name="password" matInput placeholder="Enter your Password">
    </mat-form-field>
    <div class="login-form-btn-login">
      <button mat-raised-button color="primary">Login</button>
    </div>

  </div>

</form>